@model Atreemo.Models.SetPasswordBindingModel

@{
    Layout = "~/Views/Shared/_OnlyLogoLayout.cshtml";
    ViewBag.Title = "Forgotten Password";

}
<script>

    function onNewPasswordChange(e) {
        this.progressWrapper.css({
            "background-image": "none",
            "border-image": "none"
        });

        var Password = $("#NewPassword").val();
        var PasswordStrength = checkStrength(Password);

        this.value(PasswordStrength);

        if (PasswordStrength == 0) {
            this.progressStatus.text("Empty");
        } else if (PasswordStrength < 3) {
            this.progressStatus.text("Weak");

            this.progressWrapper.css({
                "background-color": "#EE9F05",
                "border-color": "#EE9F05"
            });
        } else if (PasswordStrength < 5) {
            this.progressStatus.text("Good");

            this.progressWrapper.css({
                "background-color": "#428bca",
                "border-color": "#428bca"
            });
        } else if (PasswordStrength <= 6) {
            this.progressStatus.text("Strong");

            this.progressWrapper.css({
                "background-color": "#8EBC00",
                "border-color": "#8EBC00"
            });
        }
    }


    $(document).ready(function () {
        //For Component Load
        $("#NewPassword").load('ready', function () {
            var passProgressForAdd = $("#passStrengthForRecovery").data("kendoProgressBar");
            passProgressForAdd.progressStatus.text("Empty");
        });

        $("#NewPassword").on('input paste', function () {
            var passProgressForAdd = $("#passStrengthForRecovery").data("kendoProgressBar");
            passProgressForAdd.value(checkStrength(this.value));
        });
    });


    function getParameterByName(name) {
        name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
			results = regex.exec(location.search);
        return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }

    function ResetPassword() {
        var GoToPasswordChangedView = false;

        notification = $("#notification").data("kendoNotification");
        $.ajax({
            url: '/Account/ResetPassword',
            type: 'POST',
            async: false,
            data: { 'Token': getParameterByName("Token"), 'NewPassword': $("#NewPassword").val(), 'ConfirmPassword': $("#ConfirmPassword").val() },
            success: function (data) {
                if (data == "Success") {
                    GoToPasswordChangedView = true;
                }
                else if (data == "TokenError") {
                    notification.show({
                        message: "Token expired or incorrect."
                    }, "error");
                }
                else {
                    notification.show({
                        message: "Invalid Password"
                    }, "error");
                }
            },
            error: function () {
                alert("something seems wrong");
            }
        });
        if (GoToPasswordChangedView)
            window.open('/Account/PasswordChanged', '_self', false);
    }

</script>



<script src="~/Scripts/PasswordCheckStrength.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<style>
    #passStrengthForRecovery {
        width: 248px;
    }

    .k-textbox {
        min-width: 80px;
        max-width: 350px;
        width: 100%;
    }

    ul.list-group li {
        padding-left: 5px;
        line-height: 25px;
        margin-left: 30px;
    }
</style>

@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true)

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-11">
        <div class="col-lg-3 col-md-2 col-sm-2 col-xs-2"></div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                <div class="row">


                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12"></div>
                </div>

                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12"><b> @Html.DisplayName("New password")</b> <span class="Required">*</span></div>
                    <div class="col-lg-4 col-md-5 col-sm-4 col-xs-12">
                        <div class="row">
                            @Html.Editor("NewPassword")
                        </div>
                        <div class="row">
                            @Html.ValidationMessageFor(model => model.NewPassword)
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        @(Html.Kendo().ProgressBar()
                          .Name("passStrengthForRecovery")
                          .Type(ProgressBarType.Value)
                          .Min(0)
                          .Max(6)
                          .Animation(false)
                              .Events(e => e.Change("onNewPasswordChange")))
                    </div>
                </div>

                <br />
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12"><b> @Html.DisplayName("Repeat password")</b> <span class="Required">*</span></div>
                    <div class="col-lg-4 col-md-5 col-sm-4 col-xs-12">
                        <div class="row">
                            @Html.Editor("ConfirmPassword")
                        </div>
                        <div class="row">
                            @Html.ValidationMessageFor(model => model.ConfirmPassword)
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12"></div>
                </div>
                <div class="row">
                    <div class="col-lg-10 col-md-12 col-sm-12 col-xs-11 text-center">
                        <input style="margin: 3px; width: 154px; background-color: #c00000; margin-top: 15px;" class="DefaultButtonStyle" value='Reset' onclick="ResetPassword();" />
                    </div>

                </div>

                <br />
                <div class="col-lg-4 col-md-5 col-sm-4 col-xs-12">
                    <div class="row">
                        <div class="">
                            <ul class="list-group" style="">
                                <b>Passwords must meet the following requirements: </b>

                                <li class=""> at least 1 lower case letter [a-z]</li>
                                <li>at least 1 upper case letter [A-Z] </li>
                                <li>at least 1 numeric character [0-9] </li>
                                <li>at least 1 special character: !@@#£$%^&*()_-+=,</li>
                                <li>at least 6 characters length</li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
        </div>

}